<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet cua ban</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="../template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    `

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../template/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-seo-dream.css">
    <link rel="stylesheet" href="../template/assets/css/animated.css">
    <link rel="stylesheet" href="../template/assets/css/owl.css">
    <title>Trang ca nhan</title>

</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/index.html" class="logo">
                        <h4>AACD<img src="../template/assets/images/logo-icon.png" alt=""></h4>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="spending.html" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">Danh Mục Chi Tiêu</a></li>
                        <li class="scroll-to-section"><a href="managerWallet.html">Ví của tôi</a></li>
                        <li class="scroll-to-section"><a href="login_register.html" onclick="logOut()">Đăng Xuất</a>
                        </li>
                        <li class="scroll-to-section"><a href="passwordChange.html">Đổi Mật Khẩu</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div id="services" class="our-services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2><span>Ví</span> Của Bạn<em></em></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="wallet">


        </div>
    </div>
</div>

<script src="../template/vendor/jquery/jquery.min.js"></script>
<script src="../template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../template/assets/js/owl-carousel.js"></script>
<script src="../template/assets/js/animation.js"></script>
<script src="../template/assets/js/imagesloaded.js"></script>
<script src="../template/assets/js/custom.js"></script>

</body>
</html>
<script>
    showFormCreat = async () => {
        let name = $('#recipient-name').val();
        let idUser = localStorage.getItem('idUser')
        let create = {
            name: name,
            idUser: idUser,
            money: 0
        }
        $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/wallet/create',
            data: JSON.stringify(create),
            headers: {
                'Content-Type': 'application/json',
                Authorization: 'Bearer ' + localStorage.getItem('token')
            }, success: (check) => {
                console.log(check)
                if (check.check) {
                    $(`#recipient-name`).html('')
                    showWallet()
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'Your work has been saved',
                        showConfirmButton: false,
                        timer: 900
                    })
                } else {
                    $(`#recipient-name`).html('')
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: 'tên ví đã đc sử dụng!!!',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        })
    }

    function logOut() {
        localStorage.clear()
    }

    function showWallet() {
        let idUser = localStorage.getItem('idUser')
        $.ajax({
            type: 'GET',
            url: `http://localhost:3000/wallet/showAll/:${idUser}`,
            headers: {
                'Content-Type': 'application/json',
                Authorization: 'Bearer ' + localStorage.getItem('token')
            },
            success: (wallet) => {
                let str = `<div class="col-lg-4" id="addWallet">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                   data-bs-whatever="@mdo">
                    <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="icon fas fa-plus " style=""></div>
                            </div>
                            <div class="col-lg-8">
                                <div class="right-content">
                                    <h4 style=" text-align: left;margin-top: 35px">Thêm Ví</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Creat Wallet</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label"></label>
                                        <input type="text" class="form-control" id="recipient-name"
                                               placeholder="Name Wallet">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" onclick="showFormCreat()" class="btn btn-primary"
                                        data-bs-dismiss="modal">Send
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
                for (let i = 0; i < wallet.length; i++) {
                    str += `<div class="col-lg-4">
                <a href="http://localhost:3000/wallet/"><div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="../template/assets/images/service-icon-01.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <h4 style=" text-align: left">Tên ví: ${wallet[i].name}</h4>
                            <h4 style=" text-align: left;margin-top: 35px">Số dư: ${wallet[i].money}</h4>
                        </div>
                    </div>
                </div></a>
            </div>`
                }
                $(`#wallet`).html(str)
            }
        })
    }

    showWallet()
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>