<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
          rel="stylesheet">

    <title>Đổi Mật Khẩu</title>

    <!-- Bootstrap core CSS -->
    <link href="../template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../template/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-seo-dream.css">
    <link rel="stylesheet" href="../template/assets/css/animated.css">
    <link rel="stylesheet" href="../template/assets/css/owl.css">
    <title>Trang ca nhan</title>

</head>
<body>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/index.html" class="logo">
                        <h4>AACD<img src="../template/assets/images/logo-icon.png" alt=""></h4>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="home.html" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">Danh Mục Chi Tiêu</a></li>
                        <li class="scroll-to-section"><a href="wallet.html">Ví</a></li>
                        <li class="scroll-to-section"><a href="login_register.html" onclick="logOut()">Đăng Xuất</a>
                        </li>
                        <li class="scroll-to-section"><a href="passwordChange.html">Đổi Mật Khẩu</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->


<div id="contact1" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading">

                                <h2>Đổi Mật Khẩu <span></span> <em></em></h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">

                                <div class="col-lg-7">
                                    <input type="password" id="oldPassword"
                                           placeholder="Mật Khẩu Cũ" required="">
                                </div>

                                <div class="col-lg-7">
                                    <input type="password" id="newPassword" placeholder="Mật Khẩu Mới"
                                           autocomplete="on"
                                           required>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset>
                                        <button id="form-submit" class="main-button " onclick="changePassword()">Thay
                                            Đổi Mật Khẩu
                                        </button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact-info">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <img src="../template/assets/images/contact-icon-01.png" alt="email icon">
                                        </div>
                                        <a href="#">ngocdung22032000@gmail.com</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="../template/assets/images/contact-icon-02.png" alt="phone">
                                        </div>
                                        <a href="#">+039-610-2252</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="../template/assets/images/contact-icon-03.png" alt="location">
                                        </div>
                                        <a href="#">81 Lê Đức Thọ, Mỹ Đình 2, Hà Nội</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

<script src="../template/vendor/jquery/jquery.min.js"></script>
<script src="../template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../template/assets/js/owl-carousel.js"></script>
<script src="../template/assets/js/animation.js"></script>
<script src="../template/assets/js/imagesloaded.js"></script>
<script src="../template/assets/js/custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    function changePassword() {
        let idUser = localStorage.getItem('id');
        let oldPassword = $('#oldPassword').val();
        let newPassword = $('#newPassword').val();
        let data = {
            oldPassword: oldPassword,
            newPassword: newPassword
        }
        console.log(`http://localhost:3000/user/editPassword/${idUser}`)
        $.ajax({
            type: 'PUT',
            url: `http://localhost:3000/user/editPassword/${idUser}`,
            data: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json',
                Authorization: 'Bearer ' + localStorage.getItem('token')
            },
            success: (token) => {
                if (token.ck) {
                    alert("Thay doi mat khau thanh cong!!!");
                    document.location.href = "home.html"
                } else {
                    alert("Mat khau cu khong chinh xac");
                    document.location.href = "passwordChange.html"
                }
            },
            error: (err) => {
                alert('error')
                console.log(err)
            }
        })
    }

    function logOut() {
        localStorage.clear()
    }
</script>
</body>
</html>

</body>
</html>